<style>
	h2{color: white;}
	h4{color: white;}
	h5{color: white;}
	h6{color: white;}
	p{color: white;}
</style>

<div class="jumbotron text-center" style="background:transparent">
	<h1 style="color: white"> About Us </h1>
	<h2> Here's a little about the app! </h2>
</div>

<!--
<div class="container">
	<div class="col-md-3 col-xs-12 text-center" style="padding-bottom:70px" ng-repeat="member in members">
		<h4> {{ member.name }} </h4>
		<h5> {{ member.role }} </h5>
		<h6> {{ member.contact }} </h6>
		<img src="{{ member.pic }}" class="img-circle"><br><br>
		<p> {{ member.bio }} </p>
	</div>
</div> -->

<div class="container">
	<div class="col-md-4 col-md-offset-4 col-xs-12 text-center" style="padding-bottom:70px">
		<p> Profil'd is a way for people to compare how similar they are to one of the 
			2016 presidential candidates. We aim to provide a fun and easy way for
			people to easily compare themselves to either Hillary or Donald. 
			In just two easy steps, you can find which candidate you are most similar to!
		</p>
	</div>
</div>

<div class="container">
	<div class="col-md-4 col-md-offset-4 text-center" style="padding-bottom:70px">
		<h4> Contact Us <h4>
		<h5> profild.support@profild.com </h5>
	</div>
</div>

