<style>
	h2{color:white;}
	label{color:white;}
	p{color:white;}
}
</style>

<div class="jumbotron text-center" style="background-color: transparent">
	<h1 style="color:white">Welcome! </h1>
	<h2> Enter your Twitter handle to start! </h2>
</div>
<div ng-app="Username" class="col-md-4 col-md-offset-4" style="padding-bottom: 100px">
    <div ng-controller="UsernameController">
	   <form name="form" disable-btn action="/candidate" class="simple-form" ng- submit="submit()">
		<div class="form-group">
			<input type="text" class="text-center form-control fancy-field" id="twitterName" placeholder="@helodog" ng-model="twitterName" required>
        </div>
		<div class="form-group text-center">
			<button type="submit" class="btn btn-default fancy-button" id="Submit"> Next </button>
		</div>
	   </form>
    </div>
</div>
