<style>
	h2{color:white;}
	label{color:white;}
	p{color:white;}
</style>

<div class="jumbotron text-center" style="background-color: transparent">
	<h1 style="color:white">Welcome! </h1>
	<h2> Pick an option to start! </h2>
</div>

<div class="col-md-4 col-md-offset-4">
	<form novalidate class="simple-form">
		<div class="form-group">
			<label for="twitterName"> Twitter Username </label>
			<input type="text" class="form-control" id="twitterName" placeholder="@fabioxxx" ng-model="home.twitterName">
		</div>

		<div class="radio form-group text-center">
			<label>
				<input type="radio" name="modePick" id="mode1" value="pickCandidate" checked ng-model="home.option">
					Choose a Candidate
				</input>
			</label>
		</div>

		<div class="radio form-group text-center">
			<label>
				<input type="radio" name="modePick" id="mode2" value="enterTweet" ng-model="home.option">
					Enter a Tweet
				</input>
			</label>
		</div>

		<div class="form-group">
			<label for="inputTweet"> Input a Tweet </label>
			<input type="text" class="form-control" placeholder="I love America!" ng-model="home.tweet">
		</div>
		
		<div class="form-group">
			<label for="chooseCandidate"> Choose a Candidate </label>
			<select class="form-control" ng-model="home.candidate">
				<option> Donald Trump </option>
				<option> Hillary Clinton </option>
				<option> Bernie Sanders </option>
			</select>
		</div>
		
		<div class="form-group text-center">
			<button type="submit" class="btn btn-default"> Analyze! </button>
		</div>
	</form>
</div>
