<div class="jumbotron text-center" style="background:transparent">
	<h1 style="color:white"> Profil'd </h1>
	<form class="container">
		<center> 
            <fieldset class="form-group">
                <input type="email" class="form-control text-center" id="emailInput"\
                       placeholder="Email Address" style="width: 400px;">
            </fieldset> 
        </center>
        <center>
            <fieldset class="form-group">
                <input type="password" class="form-control text-center" id="passInput"\
                       placeholder="Password" style="width: 400px;">
            </fieldset>
        </center>
        
		<button type="submit" class="btn btn-primary"> Login </button>
	
	</form>
	<button type="submit" class="btn btn-success"> Register </button>	
</div>
