<div class="jumbotron text-center" style="background:transparent">
	<h1> Profil'd </h1>
	<form class="container">
		<fieldset class="form-group">
			<input type="email" class="form-control text-center" id="emailInput"\
						 placeholder="Email Address">
		</fieldset>
		<fieldset class="form-group">
			<input type="password" class="form-control text-center" id="passInput"\
						 placeholder="Password">
		</fieldset>
		<button type="submit" class="btn btn-primary"> Login </button>
	
	</form>
	<button type="submit" class="btn btn-success"> Register </button>

	
</div>
