<div class="jumbotron text-center" style="background:transparent">
	<h1> Welcome! </h1>
	<h2> Pick an option to start! </h2>
</div>

<div class="col-md-4 text-center">
  <button type="button" class="btn btn-info btn-lg"  data-toggle="collapse" data-target="#mode">Select a Mode</button>
  <div id="mode" class="collapse">
      <div>  
          <h1></h1>      
      </div>
    <button type="button" class="btn btn-success"> Enter a Tweet</button>
  </div>
</div>
    
<div class="col-md-4 text-center">
  <button type="button" class="btn btn-info btn-lg" data-toggle="collapse" data-target="#candidates">Pick a Candidate</button>
  <div id="candidates" class="collapse">
      <h1></h1>
    <button type="button" class="btn btn-success"> Donald Trump</button>
      <h1></h1>
    <button type="button" class="btn btn-success"> Hilary Clinton</button>
      <h1></h1>
    <button type="button" class="btn btn-success"> Bernie Sanders</button>
  </div>
</div>
    
<div class="col-md-4 text-center">
  <button type="button" class="btn btn-info btn-lg" data-toggle="collapse" data-target="#results">Results</button>
  <div id="results" class="collapse">
    yay donald trump is bae
  </div>
</div>


