<div class="jumbotron text-center" style="background:transparent">
	<h1> Welcome! </h1>
	<h2> Pick an option to start! </h2>
</div>

<div class="col-md-4 text-center">
	<h4> Select a Mode </h4>
	<button type="button" class="btn btn-success" data-toggle="collapse" data-target=""> Enter a Tweet </button>
	<br><br>
	<button type="button" class="btn btn-success" data-toggle="collapse" data-target=""> Import Your Tweets </button>
	<br><br>
	<button type="button" class="btn btn-default" data-toggle="collapse" data-target="#mode"> Next </button>
</div>

<div class="col-md-4 text-center collapse" id="mode">
	<h4> Pick a Candidate </h4>
	<button type="button" class="btn btn-success"> Donald Trump</button>
	<br><br>
	<button type="button" class="btn btn-success"> Hilary Clinton</button>
	<br><br>
	<button type="button" class="btn btn-success"> Bernie Sanders</button>
	<br><br>
	<button type="button" class="btn btn-default" data-toggle="collapse" data-target="#results"> Analyze Me </button>
</div>
	
<div class="col-md-4 text-center collapse" id="results">
	<h4> Results </h4>
	<br><br>
	<button type="button" class="btn btn-default"> Try Again </button>
</div>
