.page        {
    bottom:0; 
    padding-top:200px;
    position:absolute; 
    text-align:center;
    top:0;  
    width:100%; 
}

.page-home{ background-image: url("home.jpg")}
.page-candidate{ background-image: url("candidates.jpg")}
.page-result{ background-image: url("results.jpg")}
.page-about{ background-image: url("about.jpg"); } 

.header-home{
	color: white;
	padding-right: 50px;
	font-size: 15px;
}
.header-about{
	color: white;
	padding-left: 50px;
	font-size: 15px;
}

.fancy-field{
	color:white;
	background-color: transparent;
}

.fancy-button{
	color:white;
	background-color: transparent;
}
